/*DEVELOPER: Aida Looft, IS117-003, Fall 2024 */

.timeline {
    position: relative;
    margin: 20px 0;
    padding-left: 40px;
    border-left: 8px solid transparent;
    border-image: linear-gradient(to bottom,
            #DE3373, #FCCA28, #08A953, #F5712A,
            #F59EAF, #EE1B3E, #1E76B8, #7C2E87,
            #7A0434, #F98F81, #37BA9B, #C0C2C2);
    border-image-slice: 1;
    display: inline-block;
    margin-top: 20px;
}

.timeline-event {
    position: relative;
    margin-bottom: 30px;
    padding-left: 20px;
}

.timeline-event::before {
    content: '';
    position: absolute;
    left: -15px;
    top: 0;
    width: 16px;
    height: 16px;
    background-color: #e2bdcb;
    border-radius: 50%;
    border: 3px solid white;
}

.timeline-date {
    font-family: 'Futura PT', sans-serif;
    font-size: 1rem;
    color: #474a4d;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
}

.timeline-content h5 {
    font-family: 'Futura PT', serif;
    font-size: 1.25rem;
    font-weight: bold;
    color: #000;
    margin: 0;
    text-align: left;
}

@media (max-width: 768px) {
    .timeline {
        width: 90%;
        padding-left: 20px;
    }

    .timeline-event::before {
        left: -15px;
        width: 12px;
        height: 12px;
    }
}